@use "../utils/variables";
@use "../utils/breakpoints" as b;

.footer {
  background-color: variables.color("very-light-gray");
  background-image: url("../../assets/images/bg-pattern/mobile/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  margin: 9rem 0 0;
  padding-bottom: 5rem;
  padding-top: 5.375rem;
  text-align: center;

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1.625rem;
    padding: 0 var(--page-spacing);
  }

  &__title,
  &__link {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
  }

  &__title {
    color: variables.color("dark-grayish-violet");
    margin-bottom: 2rem;
  }

  &__item {
    margin-bottom: 0.75rem;
  }

  &__link {
    color: variables.color("violet");

    &::after {
      background-color: currentColor;
      content: "";
      display: block;
      height: 0.0625rem;
      margin: 0 auto;
      opacity: 0.25;
      transition:
        opacity 0.2s ease-out,
        width 0.25s ease-out;
      width: 0%;
    }

    &:focus-visible::after,
    &:hover::after {
      opacity: 1;
      width: 60%;
    }
  }

  @include b.media-up(md) {
    background-image: url("../../assets/images/bg-pattern/desktop/bg-pattern-footer-desktop.svg");

    &__link::after {
      margin: 0;
    }

    &__links {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 3rem;
      text-align: left;
    }

    &__wrapper {
      flex: 1 1 16rem;
    }
  }
}
