@use "../utils/breakpoints" as b;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--page-spacing);

  @include b.media-up(lg) {
    padding: 2rem var(--page-spacing);
  }
}
