@use "../utils/breakpoints" as b;

.header {
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 var(--page-spacing);
  position: sticky;
  top: 0;
  z-index: 5;

  &::before {
    background-color: color-mix(
      in hsl,
      var(--background-primary-color) 90%,
      transparent
    );
    backdrop-filter: blur(3px);
    content: "";
    inset: 0;
    opacity: 0.9;
    position: absolute;
    z-index: -1;
  }

  &__logo {
    filter: var(--dark-theme-filter);
  }
}
