@use "../utils/variables";

.about-us {
  background-color: variables.color("violet");
  color: variables.color("white");
  font-family: "DM Serif Display", serif;
  text-align: center;
  padding: 6rem 1.75rem;
  position: relative;

  &::after {
    content: "";
    background-image: url("../../assets/images/bg-pattern/mobile/bg-pattern-intro-right-mobile.svg");
    background-position: top right;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 70%;
    width: 100%;
  }

  &__inner-pattern {
    inset: 0;
    overflow: hidden;
    position: absolute;

    &::after {
      background-image: url("../../assets/images/bg-pattern/mobile/bg-pattern-intro-left-mobile.svg");
      background-position: top left;
      background-repeat: no-repeat;
      content: "";
      display: block;
      position: absolute;
      inset: 0;
    }
  }

  &__title {
    font-size: 2.75rem;
    line-height: 1;
    margin-bottom: 1.4rem;
    position: relative;
    z-index: 1;
  }

  &__description {
    font-family: "Karla", sans-serif;
    margin-bottom: 2.5rem;
    line-height: 1.6;
  }

  &__btn {
    border: 0.125rem solid variables.color("white");
    color: variables.color("white");
    font-family: "Karla", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    padding: 0.7rem 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    padding: 6.2rem 10.5rem 2rem;
    text-align: left;
    max-height: 600px;

    &__inner-pattern::after {
      background-image: url("../../assets/images/bg-pattern/desktop/bg-pattern-intro-right-desktop.svg");
      background-position: top -5.1875rem right 0px;
    }

    &::after {
      background-image: url("../../assets/images/bg-pattern/desktop/bg-pattern-intro-left-desktop.svg");
      background-position: top left;
    }

    &__title {
      font-size: 4.21rem;
    }

    &__text {
      padding-right: 2rem;

      &::before {
        content: "";
        background-color: variables.color("white");
        display: block;
        height: 0.0625rem;
        margin-bottom: 4rem;
        width: 9.375rem;
      }
    }
  }
}
