@use "../utils/variables" as *;
@use "../utils/breakpoints" as b;
@use "../utils/mixins" as m;

.about-us {
  &__content {
    --pattern-top: 21.625rem;
    --pattern-before-img: url("../../assets/images/bg-pattern/mobile/bg-pattern-intro-left-mobile.svg");
    --pattern-after-img: url("../../assets/images/bg-pattern/mobile/bg-pattern-intro-right-mobile.svg");

    background-color: var(--about-us-bg-color);
    color: var(--about-us-color);
    font-family: var(--main-font);
    text-align: center;
    padding: 5.875rem var(--page-spacing) 6.4375rem;
    position: relative;

    &::before {
      background-image: var(--pattern-before-img);
      background-position: top left;
      background-repeat: no-repeat;
      content: "";
      display: block;
      height: 10.3125rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 10.5rem;
    }

    &::after {
      content: "";
      background-image: var(--pattern-after-img);
      background-position: top right;
      background-repeat: no-repeat;
      display: inline-block;
      position: absolute;
      pointer-events: none;
      right: 0;
      top: var(--pattern-top);
      height: 20.9375rem;
      width: 8.125rem;
    }
  }

  &__title {
    font-size: 2.9375rem;
    line-height: 1;
    margin-bottom: 1.125rem;
    position: relative;
    z-index: 1;
  }

  &__description {
    font-family: var(--secondary-font);
    margin-bottom: 2.5rem;
    line-height: 1.6;
    padding: 0 0.125rem;
  }

  &__btn {
    border: 0.125rem solid var(--about-us-btn-border-color);
    color: var(--about-us-btn-color);
    font-family: var(--secondary-font);
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    padding: 0.7rem 1.6rem;
    text-decoration: none;
    text-transform: uppercase;

    @include m.button-transition(color("white"), color("very-dark-violet"));
  }

  @include b.media-up(lg) {
    &__content {
      --pattern-top: calc(70% + 9px);
      --pattern-before-img: url("../../assets/images/bg-pattern/desktop/bg-pattern-intro-right-desktop.svg");
      --pattern-after-img: url("../../assets/images/bg-pattern/desktop/bg-pattern-intro-left-desktop.svg");

      display: flex;
      padding: 6.5625rem var(--page-spacing) 2rem;
      text-align: left;
      max-height: 37.5rem;
      margin-bottom: 9.6875rem;

      &::before {
        background-position: top -5.1875rem right 0px;
        height: 32.5rem;
        left: initial;
        right: 0;
        width: 27.25rem;
      }

      &::after {
        background-position: top left;
        left: 0;
        right: initial;
        height: 31.875rem;
        width: 12.5rem;
      }
    }

    &__title {
      font-size: clamp(2.75rem, 4.75vw, 4.375rem);
      line-height: 0.92;
      max-width: 7em;
      margin-bottom: 1.625rem;
    }

    &__description {
      padding: 0;
    }

    &__text {
      padding-right: 2rem;

      &::before {
        content: "";
        background-color: var(--about-us-top-line-color);
        display: block;
        height: 0.0625rem;
        margin-bottom: 4rem;
        width: 9.375rem;
      }
    }
  }
}
