@use "../utils/variables";
@use "../utils/breakpoints" as b;

.features {
  background-color: variables.color("white");
  text-align: center;
  color: variables.color("very-dark-violet");
  padding: 9.15rem 1.625rem;

  &::before {
    background-color: variables.color("violet");
    content: "";
    display: block;
    height: 0.0625rem;
    margin: 0 auto 2.2rem;
    width: 9.375rem;
  }

  &__title {
    font-family: "DM Serif Display", serif;
    font-size: 2.8rem;
    margin-bottom: 4.5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3.4375rem;
  }

  @include b.media-up(lg) {
    padding: 9.15rem var(--page-spacing);
    text-align: left;

    &__title {
      font-size: 4.1625rem;
      margin-bottom: 5rem;
    }

    &__list {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
    }

    &::before {
      margin: 0 0 3.125rem;
    }
  }
}
