@use "../utils/variables";

.features {
  background-color: variables.color("white");
  text-align: center;
  color: variables.color("very-dark-violet");
  padding: 9.15rem 0;

  &__line {
    border: 1px solid variables.color("violet");
    margin: 0 auto 2.2rem;
    transform: scaleY(0.5);
    width: min(40%, 200px);
  }

  &__title {
    font-family: "DM Serif Display", serif;
    font-size: 2.8rem;
    margin-bottom: 4.5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3.4375rem;
  }

  @media screen and (min-width: 1024px) {
    padding: 9.15rem 10.5rem;
    text-align: left;

    &__title {
      font-size: 4.1625rem;
      margin-bottom: 5rem;
    }

    &__list {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
    }
  }
}
