@use "../utils/breakpoints" as b;

.feature {
  text-align: center;

  &::before {
    background-image: var(--feature-icon);
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 86px;
    margin: 0 auto 2.15rem auto;
    width: 86px;
  }

  &__title {
    font-family: var(--main-font);
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  &__description {
    font-family: var(--secondary-font);
    line-height: 1.6;
  }

  &--snappy {
    --feature-icon: url("../../assets/images/icons/icon-snappy-process.svg");
  }

  &--prices {
    --feature-icon: url("../../assets/images/icons/icon-affordable-prices.svg");
  }

  &--people {
    --feature-icon: url("../../assets/images/icons/icon-people-first.svg");
  }

  @include b.media-up(lg) {
    max-width: 350px;
    text-align: left;

    &::before {
      margin: 0 0 2.15rem 0;
    }
  }
}
