@use "../utils/breakpoints" as b;

.features {
  --features-bg-color: var(--background-primary-color);
  --features-color: var(--primary-color);
  --features-line-color: var(--border-secondary-color);

  background-color: var(--features-bg-color);
  text-align: center;
  color: var(--features-color);
  padding: 8.75rem 1.625rem 8.75rem;

  &::before {
    background-color: var(--features-line-color);
    content: "";
    display: block;
    height: 0.0625rem;
    margin: 0 auto 2rem;
    width: 9.375rem;
  }

  &__title {
    font-family: var(--main-font);
    font-size: 2.9375rem;
    margin-bottom: 4.5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3.5625rem;
  }

  @include b.media-up(md) {
    padding: 9.15rem var(--page-spacing);
  }

  @include b.media-up(lg) {
    padding-bottom: 10.1875rem;
    text-align: left;

    &__title {
      font-size: 4.375rem;
      margin-bottom: 5rem;
    }

    &__list {
      flex-direction: row;
      gap: 1rem;
      justify-content: space-between;
    }

    &::before {
      margin: 0 0 3.125rem;
    }
  }
}
