@use "../utils/breakpoints" as b;

.feature {
  text-align: center;

  &__icon {
    margin: 0 auto 2.15rem auto;
  }

  &__title {
    font-family: "DM Serif Display", serif;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  &__description {
    font-family: "Karla", sans-serif;
    line-height: 1.6;
  }

  @include b.media-up(lg) {
    max-width: 350px;
    text-align: left;

    &__icon {
      margin: 0 0 2.15rem 0;
    }
  }
}
