@use "../utils/variables";
@use "../utils/breakpoints" as b;

.intro-mobile {
  &__img {
    width: 100%;
  }

  @include b.media-up(sm) {
    display: flex;

    &::after {
      --b-size: 15px;
      --b-dot: 0.2px;
      background-color: variables.color("violet");
      background-position: center;
      background-size: var(--b-size) var(--b-size);
      background-image: radial-gradient(
        variables.color("white") var(--b-dot),
        transparent var(--b-dot)
      );
      content: "";
      height: auto;
      width: 50%;
    }

    &__img {
      width: 50%;
    }
  }

  @include b.media-up(lg) {
    display: none;
  }
}
