@use "../utils/variables";
@use "../utils/breakpoints" as b;
@use "../utils/mixins" as m;

.nav-menu {
  display: none;
  display: flex;
  inset: 0;
  justify-content: center;
  margin-top: 5rem;
  position: fixed;

  &__list {
    align-items: center;
    display: flex;
    gap: 28px;
    font-family: "Karla", sans-serif;
    flex-direction: column;
    text-transform: uppercase;
  }

  &__link {
    color: variables.color("dark-grayish-violet");
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    transition: color 0.25s;

    &:focus-visible,
    &:hover {
      color: variables.color("very-dark-violet");
    }

    &--button {
      border: 2px solid variables.color("very-dark-violet");
      color: variables.color("very-dark-violet");
      padding: 10px 24px;
      transition:
        background-color 0.25s,
        color 0.25s;

      @include m.button-transition(
        variables.color("very-dark-violet"),
        variables.color("white")
      );
    }
  }

  @include b.media-up(lg) {
    display: initial;
    margin-top: 0;
    position: static;
  }
}
