@use "../utils/breakpoints" as b;
@use "../utils/mixins" as m;

.nav-menu {
  --nav-bg-color: var(--background-quaternary-color);
  --nav-link-color: var(--secondary-color);
  --nav-link-hover-color: var(--primary-color);
  --nav-button-border-color: var(--border-primary-color);
  --nav-button-color: var(--secondary-color);

  background-color: var(--nav-bg-color);
  background-image: url("../../assets/images/bg-pattern/mobile/bg-pattern-mobile-nav.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  inset: 0;
  justify-content: center;
  margin-top: var(--header-height);
  padding-top: 3rem;
  position: fixed;

  &__list {
    align-items: center;
    display: flex;
    gap: 39px;
    font-family: var(--secondary-font);
    flex-direction: column;
    text-transform: uppercase;
  }

  &__link {
    color: var(--nav-link-color);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.3125rem;
    transition: color 0.25s;

    &:focus-visible,
    &:hover {
      color: var(--nav-link-hover-color);
    }

    &--button {
      border: 2px solid var(--nav-button-border-color);
      color: var(--nav-button-color);
      display: inline-block;
      margin-top: -8px;
      padding: 14px 24px;
      text-align: center;
      transition:
        background-color 0.25s,
        color 0.25s;
      width: min(87vw, 327px);

      @include m.button-transition(
        var(--border-secondary-color),
        var(--primary-hover-color)
      );
    }
  }

  &--show {
    display: initial;
    height: calc(100vh - var(--header-height));
  }

  @include b.media-up(lg) {
    --nav-bg-color: transparent;
    --nav-link-color: var(--tertiary-color);
    --nav-button-border-color: var(--border-secondary-color);
    --nav-button-color: var(--primary-color);

    background-image: none;
    display: initial;
    margin-top: 0;
    padding-top: 0;
    position: static;

    &__list {
      flex-direction: row;
      gap: 1.5rem;
    }

    &__link {
      font-size: 0.875rem;

      &--button {
        margin-top: 0;
        margin-left: 0.5625rem;
        padding: 10px 24px;
        width: auto;
      }
    }
  }
}
