@use "../utils/variables" as *;
@use "../utils/breakpoints" as b;
@use "../utils/mixins" as m;

.our-work {
  color: var(--work-color);
  text-align: center;

  &__content {
    background-color: var(--work-cont-bg-color);
    background-image: url("../../assets/images/bg-pattern/mobile/bg-pattern-how-we-work-mobile.svg");
    background-position: top right;
    background-repeat: no-repeat;
    margin: 0 var(--page-spacing);
    padding: 4.5rem 2rem;
  }

  &__title {
    font-size: 2.4375rem;
    font-family: var(--main-font);
    line-height: 1.05;
    margin-bottom: 2.5rem;
  }

  &__btn {
    border: 0.125rem solid var(--work-btn-border-color);
    color: var(--work-btn-color);
    display: inline-block;
    font-family: var(--secondary-font);
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    padding: 0.7rem 1.3rem;
    text-decoration: none;
    text-transform: uppercase;

    @include m.button-transition(color("white"), color("very-dark-violet"));
  }

  @include b.media-up(lg) {
    &__content {
      align-items: center;
      background-image: url("../../assets/images/bg-pattern/desktop/bg-pattern-how-we-work-desktop.svg");
      display: flex;
      height: 15.625rem;
      justify-content: space-between;
      margin: 0 var(--page-spacing);
      padding: 4.5rem 4.75rem;
    }

    &__title {
      font-size: clamp(2.35rem, 4vw, 3.2813rem);
      margin: 0;
      text-align: left;
      width: 30rem;
    }
  }
}
