@use "../utils/variables";
@use "../utils/breakpoints" as b;

.socials {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2.5rem;
  position: relative;

  &__links {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  &__link {
    transition: filter 0.25s;

    &:focus-visible,
    &:hover {
      filter: brightness(0.25);
    }
  }

  @include b.media-up(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}
