@use "../utils/breakpoints" as *;

.theme-toggle {
  --toggler-size: 30px;
  border: none;
  background-color: transparent;
  color: var(--border-primary-color);
  display: block;
  height: var(--toggler-size);
  transition: transform 0.4s;
  width: var(--toggler-size);

  &--active {
    transform: rotate(-180deg);
  }

  &__dark-side {
    height: inherit;
    width: inherit;
  }

  @include media-up(lg) {
    color: var(--border-secondary-color);
  }
}
