@use "./base/base";
@use "./base/reset";

@use "./components/about-us.scss";
@use "./components/feature.scss";
@use "./components/features.scss";
@use "./components/hamburger.scss";
@use "./components/nav-menu.scss";
@use "./components/our-work.scss";

@use "./layout/header";
@use "./layout/footer";

@use "./utils/variables";

.intro-mobile {
  &__img {
    width: 100%;
  }
}

.intro-desktop {
  display: none;
}

.socials {
  align-items: center;
  border-bottom: 1px solid rgba(variables.color("dark-grayish-violet"), 0.2);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 0 1.5rem 2.8rem 1.5rem;
  padding-bottom: 1.3rem;
  position: relative;

  &__links {
    align-items: center;
    display: flex;
    gap: 1rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 1023px) {
  .intro-mobile {
    display: flex;

    &::after {
      --b-size: 15px;
      --b-dot: 0.2px;
      background-color: variables.color("violet");
      background-position: center;
      background-size: var(--b-size) var(--b-size);
      background-image: radial-gradient(
        variables.color("white") var(--b-dot),
        transparent var(--b-dot)
      );
      content: "";
      height: auto;
      width: 50%;
    }

    &__img {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .intro-mobile {
    display: none;
  }

  .intro-desktop {
    display: initial;
  }
}
