@use "./partials/reset";
@use "./partials/base";
@use "./partials/variables";

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.app {
  max-width: 375px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.hamburger {
  border: none;
  background-color: transparent;
}

.about-us {
  background-color: variables.color("violet");
  color: variables.color("white");
  font-family: "DM Serif Display", serif;
  text-align: center;
  padding: 6rem 1.75rem;

  &__title {
    font-size: 2.75rem;
    line-height: 1;
    margin-bottom: 1.4rem;
  }

  &__description {
    font-family: "Karla", sans-serif;
    margin-bottom: 2.5rem;
    line-height: 1.6;
  }

  &__btn {
    border: 0.125rem solid variables.color("white");
    color: variables.color("white");
    font-family: "Karla", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    padding: 0.7rem 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.features {
  background-color: variables.color("white");
  text-align: center;
  color: variables.color("very-dark-violet");
  padding: 10rem 0;

  &__title {
    font-family: "DM Serif Display", serif;
    font-size: 2.8rem;
    margin-bottom: 4.5rem;
  }
}

.feature {
  text-align: center;
  padding: 0 1.625rem;

  &:not(:last-of-type) {
    margin-bottom: 3.7rem;
  }

  &__icon {
    margin: 0 auto 2.15rem auto;
  }

  &__title {
    font-family: "DM Serif Display", serif;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  &__description {
    font-family: "Karla", sans-serif;
    line-height: 1.6;
  }
}

.our-work {
  color: variables.color("white");
  text-align: center;

  &__content {
    background-color: variables.color("violet");
    width: 87%;
    margin: 0 auto;
    padding: 4.5rem 0;
  }

  &__title {
    font-size: 2.35rem;
    font-family: "DM Serif Display", serif;
    line-height: 1.05;
    margin-bottom: 2.5rem;
  }

  &__btn {
    border: 0.125rem solid variables.color("white");
    color: variables.color("white");
    display: inline-block;
    font-family: "Karla", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    padding: 0.7rem 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.footer {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  padding: 14rem 0 0;
  text-align: center;

  &__nav-section:not(:last-of-type) {
    margin-bottom: 2.4rem;
  }

  &__title,
  &__link {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
  }

  &__title {
    color: variables.color("dark-grayish-violet");
    margin-bottom: 2rem;
  }

  &__item {
    margin-bottom: 0.8rem;
  }

  &__link {
    color: variables.color("violet");
  }
}

.socials {
  align-items: center;
  border-bottom: 1px solid #80808057;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding-bottom: 2.8rem;
  margin-bottom: 2.8rem;

  &__links {
    align-items: center;
    display: flex;
    gap: 1rem;
  }
}
