@use "./partials/reset";
@use "./partials/base";
@use "./partials/variables";

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.app {
  max-width: 375px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.hamburger {
  border: none;
  background-color: transparent;
}

.about-us {
  background-color: variables.color("violet");
  color: variables.color("white");
  font-family: "DM Serif Display", serif;
  text-align: center;
  padding: 6rem 1.75rem;

  &__title {
    font-size: 2.75rem;
    line-height: 1;
    margin-bottom: 1rem;
  }

  &__description {
    font-family: "Karla", sans-serif;
    margin-bottom: 2.5rem;
    line-height: 1.6;
  }

  &__btn {
    border: 0.125rem solid variables.color("white");
    color: variables.color("white");
    font-family: "Karla", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    padding: 0.7rem 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}
