@use "./base/base";
@use "./base/reset";
@use "./variables";

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.app {
  max-width: 1440px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.nav-menu {
  display: none;
}

.hamburger {
  border: none;
  background-color: transparent;
}

.intro-mobile {
  &__img {
    width: 100%;
  }
}

.intro-desktop {
  display: none;
}

.about-us {
  background-color: variables.color("violet");
  background-image: url("../../assets/images/bg-pattern/mobile/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left;
  color: variables.color("white");
  font-family: "DM Serif Display", serif;
  text-align: center;
  padding: 6rem 1.75rem;
  position: relative;

  &::after {
    content: "";
    background-image: url("../../assets/images/bg-pattern/mobile/bg-pattern-intro-right-mobile.svg");
    background-position: top right;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 70%;
    width: 100%;
  }

  &__title {
    font-size: 2.75rem;
    line-height: 1;
    margin-bottom: 1.4rem;
  }

  &__description {
    font-family: "Karla", sans-serif;
    margin-bottom: 2.5rem;
    line-height: 1.6;
  }

  &__btn {
    border: 0.125rem solid variables.color("white");
    color: variables.color("white");
    font-family: "Karla", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    padding: 0.7rem 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.features {
  background-color: variables.color("white");
  text-align: center;
  color: variables.color("very-dark-violet");
  padding: 9.15rem 0;

  &__line {
    border: 1px solid variables.color("violet");
    margin: 0 auto 2.2rem;
    transform: scaleY(0.5);
    width: min(40%, 200px);
  }

  &__title {
    font-family: "DM Serif Display", serif;
    font-size: 2.8rem;
    margin-bottom: 4.5rem;
  }
}

.feature {
  text-align: center;
  padding: 0 1.625rem;

  &:not(:last-of-type) {
    margin-bottom: 3.7rem;
  }

  &__icon {
    margin: 0 auto 2.15rem auto;
  }

  &__title {
    font-family: "DM Serif Display", serif;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  &__description {
    font-family: "Karla", sans-serif;
    line-height: 1.6;
  }
}

.our-work {
  color: variables.color("white");
  text-align: center;

  &__content {
    background-color: variables.color("violet");
    background-image: url("../../assets/images/bg-pattern/mobile/bg-pattern-how-we-work-mobile.svg");
    background-position: top right;
    background-repeat: no-repeat;
    margin: 0 1.5rem;
    padding: 4.5rem 0;
  }

  &__title {
    font-size: 2.35rem;
    font-family: "DM Serif Display", serif;
    line-height: 1.05;
    margin-bottom: 2.5rem;
  }

  &__btn {
    border: 0.125rem solid variables.color("white");
    color: variables.color("white");
    display: inline-block;
    font-family: "Karla", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    padding: 0.7rem 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.footer {
  background-color: variables.color("very-light-gray");
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  margin: 9rem 0 0;
  padding-bottom: 5rem;
  text-align: center;

  &__pattern-container {
    margin-bottom: -86px;
  }

  &__pattern {
    width: 100%;
  }

  &__nav-section:not(:last-of-type) {
    margin-bottom: 2.4rem;
  }

  &__title,
  &__link {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
  }

  &__title {
    color: variables.color("dark-grayish-violet");
    margin-bottom: 2rem;
  }

  &__item {
    margin-bottom: 0.75rem;
  }

  &__link {
    color: variables.color("violet");
  }
}

.socials {
  align-items: center;
  border-bottom: 1px solid rgba(variables.color("dark-grayish-violet"), 0.2);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 0 1.5rem 2.8rem 1.5rem;
  padding-bottom: 1.3rem;
  position: relative;

  &__links {
    align-items: center;
    display: flex;
    gap: 1rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 1023px) {
  .intro-mobile {
    display: flex;

    &::after {
      --b-size: 15px;
      --b-dot: 0.2px;
      background-color: variables.color("violet");
      background-position: center;
      background-size: var(--b-size) var(--b-size);
      background-image: radial-gradient(
        variables.color("white") var(--b-dot),
        transparent var(--b-dot)
      );
      content: "";
      height: auto;
      width: 50%;
    }

    &__img {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  .header {
    padding: 2rem 10.5rem;
  }

  .intro-mobile {
    display: none;
  }

  .intro-desktop {
    display: initial;
  }

  .about-us {
    display: flex;
    padding: 6.2rem 10.5rem 2rem;
    text-align: left;
    max-height: 600px;

    &__title {
      font-size: 4.21rem;
    }

    &__text {
      padding-right: 2rem;
    }
  }

  .nav-menu {
    display: initial;

    &__list {
      display: flex;
      gap: 28px;
      text-transform: uppercase;
      font-family: "Karla", sans-serif;
    }

    &__link {
      color: variables.color("dark-grayish-violet");
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 14px;

      &--button {
        border: 2px solid variables.color("dark-grayish-violet");
        padding: 10px 24px;
      }
    }
  }
}
