@use "./base/base";
@use "./base/reset";

@use "./components/about-us.scss";

@use "./layout/header";
@use "./layout/footer";

@use "./utils/variables";

.nav-menu {
  display: none;
}

.hamburger {
  border: none;
  background-color: transparent;
}

.intro-mobile {
  &__img {
    width: 100%;
  }
}

.intro-desktop {
  display: none;
}

.features {
  background-color: variables.color("white");
  text-align: center;
  color: variables.color("very-dark-violet");
  padding: 9.15rem 0;

  &__line {
    border: 1px solid variables.color("violet");
    margin: 0 auto 2.2rem;
    transform: scaleY(0.5);
    width: min(40%, 200px);
  }

  &__title {
    font-family: "DM Serif Display", serif;
    font-size: 2.8rem;
    margin-bottom: 4.5rem;
  }
}

.feature {
  text-align: center;
  padding: 0 1.625rem;

  &:not(:last-of-type) {
    margin-bottom: 3.7rem;
  }

  &__icon {
    margin: 0 auto 2.15rem auto;
  }

  &__title {
    font-family: "DM Serif Display", serif;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  &__description {
    font-family: "Karla", sans-serif;
    line-height: 1.6;
  }
}

.our-work {
  color: variables.color("white");
  text-align: center;

  &__content {
    background-color: variables.color("violet");
    background-image: url("../../assets/images/bg-pattern/mobile/bg-pattern-how-we-work-mobile.svg");
    background-position: top right;
    background-repeat: no-repeat;
    margin: 0 1.5rem;
    padding: 4.5rem 0;
  }

  &__title {
    font-size: 2.35rem;
    font-family: "DM Serif Display", serif;
    line-height: 1.05;
    margin-bottom: 2.5rem;
  }

  &__btn {
    border: 0.125rem solid variables.color("white");
    color: variables.color("white");
    display: inline-block;
    font-family: "Karla", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    padding: 0.7rem 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.socials {
  align-items: center;
  border-bottom: 1px solid rgba(variables.color("dark-grayish-violet"), 0.2);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 0 1.5rem 2.8rem 1.5rem;
  padding-bottom: 1.3rem;
  position: relative;

  &__links {
    align-items: center;
    display: flex;
    gap: 1rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 1023px) {
  .intro-mobile {
    display: flex;

    &::after {
      --b-size: 15px;
      --b-dot: 0.2px;
      background-color: variables.color("violet");
      background-position: center;
      background-size: var(--b-size) var(--b-size);
      background-image: radial-gradient(
        variables.color("white") var(--b-dot),
        transparent var(--b-dot)
      );
      content: "";
      height: auto;
      width: 50%;
    }

    &__img {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  .intro-mobile {
    display: none;
  }

  .intro-desktop {
    display: initial;
  }

  .nav-menu {
    display: initial;

    &__list {
      display: flex;
      gap: 28px;
      text-transform: uppercase;
      font-family: "Karla", sans-serif;
    }

    &__link {
      color: variables.color("dark-grayish-violet");
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 14px;

      &--button {
        border: 2px solid variables.color("dark-grayish-violet");
        padding: 10px 24px;
      }
    }
  }
}
