*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.app {
  max-width: 1440px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.hamburger {
  border: none;
  background-color: transparent;
}

.intro__img {
  width: 100%;
}

.about-us {
  background-color: hsl(256, 26%, 20%);
  background-image: url("../../assets/images/bg-pattern/mobile/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left;
  color: hsl(0, 0%, 100%);
  font-family: "DM Serif Display", serif;
  text-align: center;
  padding: 6rem 1.75rem;
  position: relative;
}
.about-us::after {
  content: "";
  background-image: url("../../assets/images/bg-pattern/mobile/bg-pattern-intro-right-mobile.svg");
  background-position: top right;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 70%;
  width: 100%;
}
.about-us__title {
  font-size: 2.75rem;
  line-height: 1;
  margin-bottom: 1.4rem;
}
.about-us__description {
  font-family: "Karla", sans-serif;
  margin-bottom: 2.5rem;
  line-height: 1.6;
}
.about-us__btn {
  border: 0.125rem solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  font-family: "Karla", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
  padding: 0.7rem 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
}

.features {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  color: hsl(270, 9%, 17%);
  padding: 9.15rem 0;
}
.features__line {
  border: 1px solid hsl(256, 26%, 20%);
  margin: 0 auto 2.2rem;
  transform: scaleY(0.5);
  width: min(40%, 200px);
}
.features__title {
  font-family: "DM Serif Display", serif;
  font-size: 2.8rem;
  margin-bottom: 4.5rem;
}

.feature {
  text-align: center;
  padding: 0 1.625rem;
}
.feature:not(:last-of-type) {
  margin-bottom: 3.7rem;
}
.feature__icon {
  margin: 0 auto 2.15rem auto;
}
.feature__title {
  font-family: "DM Serif Display", serif;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.feature__description {
  font-family: "Karla", sans-serif;
  line-height: 1.6;
}

.our-work {
  color: hsl(0, 0%, 100%);
  text-align: center;
}
.our-work__content {
  background-color: hsl(256, 26%, 20%);
  background-image: url("../../assets/images/bg-pattern/mobile/bg-pattern-how-we-work-mobile.svg");
  background-position: top right;
  background-repeat: no-repeat;
  margin: 0 1.5rem;
  padding: 4.5rem 0;
}
.our-work__title {
  font-size: 2.35rem;
  font-family: "DM Serif Display", serif;
  line-height: 1.05;
  margin-bottom: 2.5rem;
}
.our-work__btn {
  border: 0.125rem solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-family: "Karla", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
  padding: 0.7rem 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
}

.footer {
  background-color: hsl(0, 0%, 98%);
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  margin: 9rem 0 0;
  padding-bottom: 5rem;
  text-align: center;
}
.footer__pattern-container {
  margin-bottom: -86px;
}
.footer__pattern {
  width: 100%;
}
.footer__nav-section:not(:last-of-type) {
  margin-bottom: 2.4rem;
}
.footer__title, .footer__link {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
}
.footer__title {
  color: hsl(273, 4%, 51%);
  margin-bottom: 2rem;
}
.footer__item {
  margin-bottom: 0.75rem;
}
.footer__link {
  color: hsl(256, 26%, 20%);
}

.socials {
  align-items: center;
  border-bottom: 1px solid rgba(131, 125, 135, 0.2);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 0 1.5rem 2.8rem 1.5rem;
  padding-bottom: 1.3rem;
  position: relative;
}
.socials__links {
  align-items: center;
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 576px) and (max-width: 1023px) {
  .intro {
    display: flex;
  }
  .intro::after {
    --b-size: 15px;
    --b-dot: 0.2px;
    background-color: hsl(256, 26%, 20%);
    background-position: center;
    background-size: var(--b-size) var(--b-size);
    background-image: radial-gradient(hsl(0, 0%, 100%) var(--b-dot), transparent var(--b-dot));
    content: "";
    height: auto;
    width: 50%;
  }
  .intro__img {
    width: 50%;
  }
}