html {
  scrollbar-color: var(--scrollbar-colors);
}

body {
  --body-bg-color: var(--background-primary-color);
  --body-bg-color-transition: background-color 0.2s;

  align-items: center;
  background-color: var(--body-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  transition: var(--body-bg-color-transition);
  width: 100%;
}

.wrapper {
  max-width: 90rem;
  width: 100%;
}

li {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 400;
}
