@use "../utils/breakpoints" as b;

:root {
  --blue: hsl(216, 30%, 68%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --violet: hsl(256, 26%, 20%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --main-font: "DM Serif Display", serif;
  --secondary-font: "Karla", sans-serif;
  --page-spacing: 1.5rem;

  @include b.media-up(md) {
    --page-spacing: 4.5rem;
  }

  @include b.media-up(lg) {
    --page-spacing: 10.5rem;
  }
}
