@use "../utils/breakpoints" as b;

$blue: hsl(216, 30%, 68%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$dark-gray: hsl(200, 6%, 10%);
$light-gray: hsl(0, 0%, 78%);
$violet: hsl(256, 26%, 20%);
$very-dark-gray: hsl(180, 3%, 12%);
$very-dark-violet: hsl(270, 9%, 17%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

:root {
  --background-primary-color: #{$white};
  --background-secondary-color: #{$violet};
  --background-tertiary-color: #{$very-light-gray};
  --background-quaternary-color: #{$very-dark-violet};
  --border-primary-color: #{$white};
  --border-secondary-color: #{$very-dark-violet};
  --primary-color: #{$very-dark-violet};
  --secondary-color: #{$white};
  --tertiary-color: #{$dark-grayish-violet};
  --quaternary-color: #{$violet};
  --primary-hover-color: #{$white};
  --secondary-hover-color: #{$very-dark-violet};

  --main-font: "DM Serif Display", serif;
  --secondary-font: "Karla", sans-serif;
  --page-spacing: max(1.5rem, 6vw);
  --header-height: 80px;
  --dark-theme-filter: none;
  --reduce-img-light: none;

  @media (prefers-color-scheme: dark) {
    --background-primary-color: #{$dark-gray};
    --background-tertiary-color: #{$very-dark-gray};
    --border-secondary-color: #{$white};
    --primary-color: #{$very-light-gray};
    --secondary-color: #{$very-light-gray};
    --tertiary-color: #{$light-gray};
    --quaternary-color: #{$very-light-gray};
    --primary-hover-color: #{$very-dark-violet};
    --dark-theme-filter: invert(1) brightness(2);
    --reduce-img-light: brightness(0.95);
  }

  @include b.media-up(md) {
    --page-spacing: max(4.5rem, 9vw);
  }

  @include b.media-up(lg) {
    --page-spacing: clamp(4.5rem, 12vw, 10.5rem);
  }
}
