@use "../utils/breakpoints" as b;

:root {
  --blue: hsl(216, 30%, 68%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --dark-gray: hsl(200, 6%, 10%);
  --violet: hsl(256, 26%, 20%);
  --very-dark-gray: hsl(180, 3%, 12%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --background-primary-color: var(--white);
  --background-secondary-color: var(--violet);
  --background-tertiary-color: var(--very-light-gray);
  --background-quaternary-color: var(--very-dark-violet);
  --border-primary-color: var(--white);
  --border-secondary-color: var(--very-dark-violet);
  --primary-color: var(--very-dark-violet);
  --secondary-color: var(--white);
  --tertiary-color: var(--dark-grayish-violet);
  --quaternary-color: var(--violet);

  --main-font: "DM Serif Display", serif;
  --secondary-font: "Karla", sans-serif;
  --page-spacing: max(1.5rem, 6vw);
  --header-height: 80px;

  --body-bg-color: var(--background-primary-color);

  --about-us-bg-color: var(--background-secondary-color);
  --about-us-color: var(--secondary-color);
  --about-us-btn-color: inherit;
  --about-us-btn-border-color: var(--border-primary-color);
  --about-us-top-line-color: var(--border-primary-color);

  --features-bg-color: var(--background-primary-color);
  --features-color: var(--primary-color);
  --features-line-color: var(--border-secondary-color);

  --nav-bg-color: var(--background-quaternary-color);
  --nav-link-color: var(--secondary-color);
  --nav-link-hover-color: var(--primary-color);
  --nav-button-border-color: var(--border-primary-color);
  --nav-button-color: var(--secondary-color);

  --work-color: var(--secondary-color);
  --work-cont-bg-color: var(--background-secondary-color);
  --work-btn-border-color: var(--border-primary-color);
  --work-btn-color: var(--secondary-color);

  --header-bg-color: var(--background-primary-color);

  --footer-bg-color: var(--background-tertiary-color);
  --footer-title-color: var(--tertiary-color);
  --footer-link-color: var(--quaternary-color);
  --footer-underline-color: currentColor;

  --socials-line-color: rgba(0, 0, 0, 0.12);

  @media (prefers-color-scheme: dark) {
    --background-primary-color: var(--dark-gray);
    --background-tertiary-color: var(--very-dark-gray);
    --border-secondary-color: var(--white);
    --primary-color: var(--white);
    --tertiary-color: var(--very-light-gray);
    --quaternary-color: var(--white);
  }

  @include b.media-up(md) {
    --page-spacing: max(4.5rem, 9vw);
  }

  @include b.media-up(lg) {
    --page-spacing: clamp(4.5rem, 12vw, 10.5rem);
  }
}
